/* 1. Подключаем normalize */
@import 'normalize.css';
/* 2. Сброс некоторых базовых стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
