.todoInput {
  outline: none !important;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  text-align: left;
  padding-left: 0;
  color: var(--color-primary);
}

.todoText {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.editable {
  position: relative;
  cursor: text;
  overflow: visible;
}

.editable::after {
  content: "Дважды кликните для редактирования";
  position: absolute;
  bottom: 100%;
  left: 20%;
  transform: translateX(-50%);
  background: var(--color-text-primary);
  color: var(--color-bg-primary);
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.editable:hover::after {
  opacity: 1;
}
